<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Zosima</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-gplus">
          <span id="signinButton">
            <span
              class="g-signin"
              data-callback="signinCallback"
              data-clientid="<%= ENV['GPLUS_CLIENT_ID'] %>"
              data-cookiepolicy="single_host_origin"
              data-scope="https://www.googleapis.com/auth/plus.login">
            </span>
          </span>
        </div>
      </li>

      <li>
        <div class="navbar-signout navbar-text">
          <a id="navbar-signout-link" href="">Sign Out</a>
        </div>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
